html,body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f0f0f0;
}

img {
  height: auto;
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 4rem auto;
}

.previews.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.desktop-full, .suggested {
  flex: 1 1 50%;
  padding: 1rem;
}


form {
  background-color: white;
  display: inline-block;
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.06);
}

.form-title {
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
}

input, textarea {
  color: #666;
  font-size: 20px;
  margin: .5rem 0;
  padding: 1rem 2rem;
  width: 100%;
  border: 2px solid #eee;
  border-radius: .5rem;
}